extends base

block content
  main.main
  .login-form
    h2.heading-secondary.ma-bt-lg Forgot Password 
    form.form.form--forgot-password
      .form__group
        label.form__label(for='email') Email
        input#email.form__input(type='text', placeholder='Enter your ragister email', required)
      .form__group
        button#submmit--btn.btn.btn--green Continue