extends base

block content
  main.main
  .login-form
    h2.heading-secondary.ma-bt-lg Create New Account
    form.form.form--signup
      .form__group
        label.form__label(for='name') Name
        input#name.form__input(type='text', placeholder='Your Full Name', required)
      .form__group.ma-bt-md
        label.form__label(for='role') Role
        select#role.form__input(type='text', required)
          option.form__input(value='user') User
          //- option.form__input(value='admin') Admin
          option.form__input(value='lead-guide') Lead Guide
          option.form__input(value='guide') Guide
      .form__group
        label.form__label(for='email') Email address
        input#email.form__input(type='email', placeholder='you@example.com', required)
      .form__group.ma-bt-md
        label.form__label(for='password') Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group.ma-bt-md
        label.form__label(for='passwordConfirm') Confirm Password
        input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group
        button#submmit--btn.btn.btn--green SignUp
      .form__group
        p(style='margin-top: 1rem; font-size: 2.0rem;') Already have an account?
          a(href='/login' style='margin-left: 1.5rem; font-size: 2.0rem; color: #2b8a3e;') Login